{% extends '../base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}


{% block header %}
    <header>


    </header>
{% endblock %}







{% block body %}
    <body>
    <div class="container">

    </div>

    </body>
{% endblock %}



