{% extends '/base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}




{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <body>
    <div class="container">
        <div class="container_inner">
            <div class="homepage_content">
                <div class="homepage_slogan">
                    <p class="slogan_b">Many SMALL things for your BIG</p>
                    <p class="slogan_s">Make your own community from here.</p>
                </div>
                <div class="homepage_img">
                    <img src="{{ asset('build/images/homepage_img.svg') }}" alt="">
                </div>
                <div class="email_form">
                    <input placeholder="Username" id="email" type="text">
                    <button id = "sign_up_home"> Sign up</button>
                </div>
            </div>

        </div>
    </div>

    <div id="background_modal" class="background_login" hidden></div>


    <div id="login_modal" class="login_modal">
        <button id="close_login" class="close">
            &#x2715
        </button>
        <div class="new_panel">
            <p class="header1">New here?</p>
            <div class="header_block">
                <p class="header">Sign up and discover a great amount of new opportunities!</p>
            </div>
            <div class="login_img">
                <img src="{{ asset('build/images/login_img.svg') }}" alt="">
            </div>
            <button id = "sign_up">Sign up</button>

        </div>
        <div class="login_panel">
            <p class="header">Login to your account</p>
            <p class="header2">Welcome to Sunflower</p>

            {% if error is defined %}
                {% if error is not null %}
                    <p class="login_error" data-error="{{ error }}">{{ error.messageKey|trans(error
                        .messageData,
                            'security') }}</p>
                {% else %}

                {% endif %}
            {% endif %}


            <div class="login_form">

                <form action="{{ path('login') }}" method="post">
                    <div class="form_row">
                        <input placeholder="Username" type="text" id="username" name="_username"/>
                    </div>
                    <div class="form_row">
                        <input placeholder="Password" type="password" id="password" name="_password"/>
                    </div>
                    <p class=header3> Forgot password?</p>
                    <button  type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>





    <div id="register_modal" class="register_modal">
        <button id="close_register" class="close">
            &#x2715
        </button>

        {% if isValid is defined %}

        <div id = "register_error" data-isValid = "{{ isValid }} hidden"></div>

        {% endif %}

        <div class="register_panel">
            <p class="header">Sign Up</p>



            <div  class="register_form">

                <div class="form">
                    {% if registrationForm is defined %}
                    {{ form_start(registrationForm) }}

                    <div class="form_row">
                        {{ form_widget(registrationForm.username)}}
                    </div>

                    <div class="form_row">
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                    <div  class="form_error" >
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>

                    <div class="agree_terms">
                                {{ form_widget(registrationForm.agreeTerms) }}
                            <p>Agree our terms</p>
                        </div>
                    <button type="submit" class="btn">Register</button>
                    {{ form_end(registrationForm) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="new_panel_register">
            <p class="header1">Hi there!</p>
            <div class="header_block">
                <p class="header">This is a good time to make more friends.</p>
            </div>
            <div class="register_img">
                <img src="{{ asset('build/images/registration_img.svg') }}" alt="">
            </div>
            <p class = "header4">Already have an account?</p>
            <button id = "sign_in" >Sign In</button>

        </div>
    </div>






    </body>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}






