{% extends '/base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}


{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <body>
        <div class="container">
            <div class="container_inner">
               <div class="homepage_content">
                   <div class="homepage_slogan">
                       <p class = "slogan_b">Many SMALL things for your BIG</p>
                       <p class = "slogan_s">Make your own community from here.</p>
                   </div>
                  <div class="homepage_img">
                      <img src="{{ asset('build/images/homepage_img.svg') }}" alt="">
                  </div>
                   <div class="email_form">
                       <input placeholder="Email address" id = "email" type="text">
                       <button> Sign up</button>
                   </div>
               </div>

            </div>
        </div>

        <div class="background_login"></div>
        <div class="modal">
            <button class = "close">
                &#x2715
            </button>

            <div class="new_panel">

            </div>
            <div class="login_panel">

            </div>



        </div>



    </body>



    {#            <div class="login_form">#}
    {#                <form action="{{ path('login') }}" method="post">#}
    {#                    <div class="form_row">#}
    {#                        <label class = "form_string" for="username">Username:</label>#}
    {#                        <input type="text" id="username" name="_username" value="bob"/>#}
    {#                    </div>#}
    {#                    <div class="form_row">#}
    {#                        <label for="password">Password:</label>#}
    {#                        <input type="password" id="password" name="_password"/>#}
    {#                    </div>#}
    {#                    <button type="submit">Login</button>#}
    {#                </form>#}
    {#            </div>#}



{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}



