{% extends 'root/index.html.twig' %}
{% block header %}
    <link href="{{ asset('css/users.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}
{% block body %}
    <body>
    <div class="container">
        <div class="users">
        <div class="users_wrapper">
            {% for user in users %}
                <div class="user">
                    <a href="/page/{{ user.id }}"><img class = "user_img" src="{{ user.avatar }}"></a>
                    <p>{{ user.username }}</p>
                </div>
            {% endfor %}
        </div>
            <div class="sorting_wrapper">
                <p class = "sorting_list_name">by hobby</p>
                {% for hobby in hobbies %}
                <a  class = "sorting_list" href="/users/{{ hobby.id }}">{{ hobby.name }}</a>
                {% endfor %}
                <a  class = "sorting_list" href="/users"><i class="bi bi-arrow-return-left"></i></a>


            </div>
        </div>
    </div>

    </body>

{% endblock %}


