{% extends 'root/index.html.twig' %}
{% block header %}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/add_remove.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            {% if name == 'addUser' %}
                <p class = "header_f">Add user</p>
                {{ form_start(addUserForm) }}
                <div class="form_row">
                    <p>Username</p>
                    {{ form_row(addUserForm.username, {
                        'label': false
                    }) }}
                </div>
                <div class="form_row">
                    <p>Password</p>
                    {{ form_row(addUserForm.password.first, {
                        'label': false
                    }) }}
                </div>
                <div class="form_row">
                    <p>Repeat password</p>
                    {{ form_row(addUserForm.password.second, {
                        'label': false
                    }) }}
                </div>
                <div class="form_row">
                    <p>Email</p>
                    {{ form_row(addUserForm.email, {
                        'label': false
                    }) }}
                </div>
                <div class="form_row">
                    <p>Avatar</p>
                    {{ form_row(addUserForm.avatar, {
                        'label': false
                    }) }}
                </div>
                <div class="form_row">
                    <p>Birthdate</p>
                    {{ form_row(addUserForm.birthdate, {
                        'label': false
                    }) }}
                </div>
                <div class="form_row">
                    <p>Is show credentials?</p>
                    {{ form_widget(addUserForm.isShowCredentials) }}
                </div>
                <button type ="submit">Add</button>
                {{ form_end(addUserForm) }}
            {% endif %}
            {% if name == 'removeUser' %}
                <div class="users">
                    <div class="users_wrapper">
                        {% for user in users %}
                            <div class="user">
                                <a href="/page/{{ user.id }}"><img class = "user_img" src="{{ user.avatar }}"></a>
                                <div class="panel">
                                    <a  href="/remove_user/{{ user.id }}" onclick="return confirm('Are you sure you want to delete the user?')"><i class="bi bi-dash-circle"></i></a
                                    <p>{{ user.username }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="return">
                        <a  href="/admin"><i class="bi bi-arrow-return-left"></i></a>
                    </div>


                </div>
            {% endif %}
            {% if name == 'addHobby' %}
                <div class="container_inner">

                    {{ form_start(addHobbyForm) }}
                    <p class = "header_f">Add hobby</p>
                    <div class="form_row">
                        <p>Name</p>
                            {{ form_row(addHobbyForm.name,{
                                label:false
                            }) }}
                    </div>
                    <div class="form_row">
                            <p>Img</p>
                        {{ form_widget(addHobbyForm.img) }}
                    </div>
                    <button type ="submit">Add</button>
                    {{ form_end(addHobbyForm) }}

                </div>
            {% endif %}
            {% if name == 'removeHobby' %}
                <div class="container_inner">
                    <p class = "header_f">Hobbies</p>
                    <div class="hobbies_wrapper">
                        {% for hobby in hobbies %}
                            <div class="hobby">
                                <p>{{ hobby.name }}</p>
                                <a href="/remove_hobby/{{ hobby.id }}" onclick="return confirm('Are you sure you want to delete the hobby?')"><i class="bi bi-dash-circle"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if name == 'addCountry' %}
                <div class="container_inner">
                    {{ form_start(addCountryForm) }}
                    <p class = "header_f">Add country</p>
                    <div class="form_row">
                        <p>Name</p>
                         {{ form_row(addCountryForm.name,{
                            label:false
                        }) }}
                    </div>
                    <div class="form_row">
                        <p>Img</p>
                        {{ form_widget(addCountryForm.img) }}
                    </div>

                    <button type ="submit">Add</button>
                    {{ form_end(addCountryForm) }}
                </div>
            {% endif %}
            {% if name == 'removeCountry' %}
                <div class="container_inner">
                    <p class = "header_f">Countries</p>
                    <div class="countries_wrapper">
                        {% for country in countries %}
                            <div class="hobby">
                                <p>{{ country.name }}</p>
                                <a href="/remove_country/{{ country.id }}" onclick="return confirm('Are you sure you want to delete the country?')"><i class="bi bi-dash-circle"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}



        </div>
    </body>
{% endblock %}

