{% extends '/base.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <body>
    <div class="container">
        <div class="container_inner">
            <div class="main_inf">
                <div class="avatar">
                    <img src="{{ asset('uploads/avatars/' ~  avatar ) }}" alt="">
                </div>
                <div class="user_inf">
                    <p class = "username">{{ username }}</p>

                    {% if (isShowCredentials  == true) or (id == currentId) %}
                    <div class="inf">
                        <p><i class="bi bi-envelope"></i> {{ email}}</p>
                    </div>
                    {% if country %}
                        <div class="inf">
                            <p class = "name">{{ country.name }}</p>
                        </div>
                    {% endif %}


                    {% if hobbies %}
                        <div class="hobbies">
                            {% for hobby in hobbies %}
                                <p><i class="{{ hobby.img }}"></i> {{ hobby.name }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endif %}


                </div>

            </div>
        </div>



    </div>
    </body>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('page') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('page') }}
{% endblock %}

