{% extends 'root/index.html.twig' %}
{% block header %}
    <link href="{{ asset('css/root.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/page.css') }}" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{%  block body %}
    <body>
    <div class="container">
        <div class="main_inf">
            <div class="avatar_inf">
                <div class="avatar_page">
                    <img class = "avatar_content_page" src="{{ avatar }}">
                </div>
                <div class="add_avatar">
                    <a href="#">Change avatar</a>
                </div>
            </div>
            <div class="user_inf">
                <div class="username_page">
                    <p>{{ username }}</p>
                </div>
                <div class="email">
                    <p><i class="bi bi-envelope"></i> {{ email}}</p>
                </div>
                <div class="country">
                    <p><i class="bi bi-globe"></i> {{ country.name }}</p>
                </div>


                <div class="hobbies">
                    {% for hobby in hobbies %}
                    <p><i class="bi bi-check2"></i> {{ hobby.name }}</p>

                    {% endfor %}
                </div>

                <div class="friends">
                    <a href="/users">Users</a>
                    <a href="/friends/{id}">Friends</a>
                </div>
            </div>



        </div>

        <div class="users_by_hobby">

            {% if usersByHobby %}
            {% if id == currentId %}
            <p>Are you intersted in {{ findByHobby.name }}? These are other users who are interested in {{ findByHobby.name }}:</p>
                {% else %}
                <p>{{ username }} is interested in {{ findByHobby.name }}. These are other users who are interested in {{ findByHobby.name }}:</p>

            {% endif %}
                <div class="users">
            {% for user in usersByHobby %}
                <div class="user">
                    <a href="/page/{{ user.id }}" ><img  src="{{ user.avatar }}"></a>
                    <p>{{ user.username }}</p>
                </div>
            {% endfor %}
                </div>
            {% endif %}
        </div>



    </div>
    </body>

{% endblock %}

